{% extends "base.html" %}

{% block title %}
  Login - 
{% endblock title%}

{% block content %}
<div>
  <!--this prints flash messages-->
  {% with messages = get_flashed_messages() %}
    {% if messages %}
      {% for msg in messages %}
        <div class="alert alert-success" role="alert">
          {{msg}}
        </div>
      {% endfor%}
    {% endif %}
  {% endwith %}
<form action="#" method="POST">
    <div class="form-group">
      <label for="exampleInputEmail1">Email address</label>
      <input name="userEmail" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
      <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Password</label>
      <input type="password" class="form-control" id="exampleInputPassword1">
    </div>
    <div class="form-group form-check">
      <input type="checkbox" class="form-check-input" id="exampleCheck1">
      <label class="form-check-label" for="exampleCheck1">Keep me Logged In</label>
    </div>
    <button type="submit" class="btn btn-primary">Login</button>
  </form>
</div>
{% endblock content%}